# Client IDs used to communicate with third party OAuth services
GOOGLE_CLIENT_ID=
GITHUB_CLIENT_ID=

# Client secret used to authenticate with GitHub
GITHUB_CLIENT_SECRET=

# Email domain whitelist, accepts Google accounts with specified domains and subdomains
# Optional, enables all by default
# Separated by comma
ALLOWED_DOMAINS=vutbr.cz,vut.cz

# Emails used to distinct website admins
# Admin emails ignore domain restrictions
ADMIN_EMAILS=

# Key used to encrypt database entries (GitHub tokens...)
ENCRYPTION_KEY=

# Token signature secret and CORS
JWT_SECRET=
JWT_EXPIRATION=7d
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://webdesignacademy.org

# Base URL
# Optional, defaults to http://localhost:3000
BASE_URL=http://localhost:3000

# Frontend URL
# Optional, defaults to http://localhost:5173
FRONTEND_URL=http://localhost:5173

# Port number for the application
# Optional, defaults to 3000
PORT=3000

# Session cookie name
# Optional, defaults to 'wda_session'
COOKIE_NAME=wda_session

# Path to the SQLite databse file
# Optional, defaults to ./storage/db.sqlite
DB_PATH=./storage/db.sqlite

# Path to the provided default lessons folder
# Optional, default to './lessons'
LESSONS_PATH=./lessons

# Path to the cache folder
# Optional, defaults to './cache'
CACHE_PATH=./cache
