body {
  margin: 0;
  font-family: sans-serif;
}

/* TODO:
1. nastav .navbar jako flex container
2. zarovnej položky vertikálně na střed
3. rozsuň obsah (logo vlevo, menu vpravo)
*/

.navbar {
  background: #333;
  color: white;
  padding: 16px;
}

/* TODO:
1. nastav .menu jako flex container
2. přidej mezery mezi položkami
*/

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* styling */
.menu li {
  cursor: pointer;
}
