#ocean {
  height: 100vh;
  background-color: #1e3d59;
  display: flex;
  justify-content: center;
  align-items: center;
}

#coral {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#fish {
  font-size: 3rem;
}
