header {
  background-color: MidnightBlue;
  color: white;
  padding: 1rem;
  position: relative;
}

#burger {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

#nav-links ul {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav-links a {
  color: white;
  text-decoration: none;
}

#nav-links a:hover {
  text-decoration: underline;
}

#page-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
}

section {
  background-color: WhiteSmoke;
  padding: 2rem;
  flex: 1;
}

#menu-toggle {
  display: none;
}

@media (max-width: 600px) {
  #burger {
    display: block;
  }

  #nav-links ul {
    display: none;
    flex-direction: column;
    padding-top: 1rem;
  }

  #menu-toggle:checked + #burger + #nav-links ul {
    display: flex;
  }

  #page-content {
    flex-direction: column;
  }
}
