body {
  margin: 0;
  font-family: sans-serif;
}

/* TODO:
1. nastav flexbox
2. vycentruj obsah (horizontal + vertical)
3. nastav výšku na celou obrazovku
*/

.overlay {
  background: rgba(0,0,0,0.5);
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
}